<ion-view view-title="Disclaimer">
  <ion-content class="check">
	<div class="padding-bottom padding-left padding-right">
		<div class="loginmsg">
			<div class="padding-vertical">
			Via deze instructieapp geeft LiftAcademy kort weer wat de belangrijkste zaken zijn bij het werken rondom liften. De app vormt slechts een samenvatting van de totale training Veilig werken rondom liften - volledigheid is niet beoogd. De app is enkel een geheugensteun bij het werken in de praktijk. Voor een uitgebreide weergave van de trainingsinhoud verwijst LiftAcademy u naar het boek op www.liftacademy.nl, in te zien met de inloggegevens op uw bevoegdheidspas.
			</div>
		</div>
      </div>
    <div class="center padding">
      <a href="#/app/checks/Vooraf/" class="button button-block button-positive button-stable fullwidth">
        Ik begrijp het!
      </a>
    </div>
  </ion-content>
</ion-view>