<ion-view view-title="Werkzaamheden">
  <ion-content class="tussenmenu">
      <h1>Waar gaat u werkzaamheden uitvoeren?</h1>
    </div>
	<div class="buttongroup">
		<a href="#/app/checks/Machinekamer/betreden" class="button button-stable button-positive tussenbutton">
			<span>In de machinekamer</span>
		</a>
		<a href="#/app/checks/Liftschacht/betreden" class="button button-stable button-positive tussenbutton">
			<span>In de liftschacht</span>
		</a>
		<a href="#/app/checks/Schachtput/betreden" class="button button-stable button-positive tussenbutton">
			<span>In de schachtput</span>
		</a>
	</div>
  </ion-content>
</ion-view>